<p>
    <%= form.label :First_Name %>
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :Last_Name %>
    <%= form.text_field :lastname %>
  </p>
 <p>
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </p>
  <p>
  	<%= form.submit%>
  </p>
  
<style>
	.breadcrumb > li {
    display: inline-block;
}
.ul{margin-top: 0;margin-bottom: 10px;}
.message-actions li {
    padding: 0px 0px 0 7px;
    display: inline-block;
}
.btn-primary {
    background-color: #8175c7;
}
.btn {
    padding: 10px 25px;
    margin-bottom: 0;
    margin-right: 4px;
    border: 0px;
    color: #ffffff !important;
    font-weight: bold;
    display: inline-block;
    font-size: 11px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

</style>
